*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*RESET*/

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

body {
  height: 100vh;
  background-image: url(img/bug.jpg);
  background-color: #ffddaf;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top-left {
  align-self: flex-start;
  padding: 2rem;
  background: rgb(255, 192, 175);
  background: linear-gradient(0deg, rgba(255, 192, 175, 1) 0%, rgba(251, 163, 179, 1) 100%);
  border-radius: 50%;
  height: 24rem;
  width: 24rem;
  margin: -12rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.text-box {
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-align: left;
}

#clock {
  font-size: 3rem;
  font-weight: 100;
  margin: 28px 0;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
  margin-top: 200px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  background: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 6.4rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 2rem 0;
}

input:focus {
  outline: none;
}